In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("augmented-mistral.csv")

In [3]:
df.iloc[[-1]]

,Unnamed: 0.1,Unnamed: 0,id,dicom_id,subject_id,stay_id,study_id,split,eye_tracking_data_discarded,gender,...,Augmented_Collapse or deflation of alveoli in lungs,Augmented_Air in pleural space,Augmented_Disruption of contact between pleurae,augmenting_query,augmenting_output,Augmented_Heart rate (beats per minute),Augmented_Oxygen saturation percentage,Augmented_Small bilateral pleural effusions,Augmented_Heart rate per minute,Augmented_Pulmonary edema (enlargement of hilar structures)
118,118,756,P300R889508,ce6c73a2-bfbdbdf8-f7f014a2-bfffc5e3-232d2d80,18067737,36661024.0,58056585,train,False,M,...,True,True,True,You are a clinical expert. With following extr...,"{""Shortness of breath"": true, ""Orthopnea"": tru...",NaN,NaN,NaN,NaN,NaN

In [4]:
df.iloc[-1]['id']

'P300R889508'

In [5]:
sample_df = pd.read_csv("./spreadsheets/reflacx_clinical.csv")

In [6]:
sample_df[sample_df['id'] == df.iloc[-1]['id']]

,Unnamed: 0,id,dicom_id,subject_id,stay_id,study_id,split,eye_tracking_data_discarded,gender,anchor_age,...,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint,age
672,756,P300R889508,ce6c73a2-bfbdbdf8-f7f014a2-bfffc5e3-232d2d80,18067737,36661024.0,58056585,train,False,M,72,...,97.6,79.0,20.0,100.0,110.0,63.0,4,2.0,R LEG PAIN,77

In [7]:
sample_df[sample_df['id'] == df.iloc[-1]['id']].index

Index([672], dtype='int64')

In [9]:
sample_df.iloc[672]

Unnamed: 0                                                 756
id                                                 P300R889508
dicom_id          ce6c73a2-bfbdbdf8-f7f014a2-bfffc5e3-232d2d80
subject_id                                            18067737
stay_id                                             36661024.0
                                      ...
dbp                                                       63.0
pain                                                         4
acuity                                                     2.0
chiefcomplaint                                      R LEG PAIN
age                                                         77
Name: 672, Length: 80, dtype: object